body {
	background-color: #20b010;
}

div {
	max-width: 700px;
	font-family: sans-serif;
	margin: 0 auto;
	text-align: justify;
}

div#title h1 {
	color: #ffffff;
	text-shadow: 1px 1px 3px #404040
}

div#title {
}

div#title em {
	font-style: normal;
	color: #f0f0b0;
}



div#buzzwords {
	background-color: #f0f0f0;

	padding:	20px;
	border-radius: 10px;

	box-shadow: 1px 1px 3px 3px #404040;
	font-weight: 400;
	text-align justify;
}

div#buzzwords p {
}

div#footer {
	position: absolute
	bottom: 0;
	height: 2em;

	color: #202020
	text-align: center;
}

div#footer p {
	text-align: center;
}

a {
	color: #303030;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
}

div#footer a {
	color: #f0f0d0;
}

div#footer a:hover {
	color: #f0f020;
}



a:hover {
	color: #f0c010;
}
